 <div class="container">

      <div class="jumbotron mt-1">
        <h1 class="jumbotron-heading text-xs-center"> ChatterBot </h1>
        <p class="lead text-xs-center">
          
        </p>

        <hr class="my-2">

        <div class="row">
          <div class="col-xs-6 offset-xs-3">
            <ul class="list-group chat-log js-chat-log">
            </ul>

            <div class="input-group input-group-lg mt-1">
              <input type="text" class="form-control js-text" placeholder="Type something to begin..."/>
              <span class="input-group-btn">
                <button class="btn btn-primary js-say">Submit</button>
              </span>
            </div>
            
          </div>
        </div>

      </div>

    </div>